# act --container-architecture linux/amd64 -j test

name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Test code
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: uv run pytest -n auto --dist loadscope

      - name: Freeze working environment
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: uv pip freeze > working_environment.txt

      - name: Commit working environment
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add working_environment.txt
          git diff --staged --quiet || git commit -m "chore: update working_environment.txt"
          git push

