# act --container-architecture linux/amd64 -j test

name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Test code
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: uv run pytest -n auto --dist loadscope

